body {
    font-family: "Montserrat";
}

.body-wrapper {
    width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid lightskyblue; */
}

/* 
div,
h1,
h2,
h3,
h4 {
    outline: 1px dashed lightgreen;
} 
*/

/*
.main {}
.aside {}
.main-div {}
.aside-div {}
.body-title {}
.body-subtitle {}
.main-title {}
.div-title {}
*/


.all_used_colors {

background: #000000;
background: #ffffff;
background: #595959;
background: #fb6d3a;
background: #a8a8a8;
background: #1e2939; 

}